# Use new trusty images, should yield newer compilers and packages
sudo: required
dist: precise
language: cpp

sudo: required
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
services:
  - redis-server
  - mongodb
  - neo4j
jdk:
  - oraclejdk7
before_install:
  # install Neo4j locally:
  - wget dist.neo4j.org/neo4j-community-2.2.0-unix.tar.gz
  - tar -xzf neo4j-community-2.2.0-unix.tar.gz
  - sed -i.bak s/dbms.security.auth_enabled=true/dbms.security.auth_enabled=false/g neo4j-community-2.2.0/conf/neo4j-server.properties
  - neo4j-community-2.2.0/bin/neo4j start
  #Install g++ 5 to allow for c++11 support
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++
  #Run the build dependencies script
  - mkdir ../aossl_deps
  - sudo cp scripts/deb/build_deps.sh ../aossl_deps
  - cd ../aossl_deps && sudo ./build_deps.sh
  #Install libssl
  - cd $TRAVIS_BUILD_DIR
  - sudo apt-get install libssl-dev
install:
  - cd scripts/deb/ubuntu-12.04 && sudo ./install_couchbase.sh
  - cd $TRAVIS_BUILD_DIR
  - wget https://releases.hashicorp.com/consul/0.6.4/consul_0.6.4_linux_amd64.zip
  - unzip consul_0.6.4_linux_amd64.zip
  - ./consul agent -dev &
script:
  - gcc --version
  - make
  - make rhel-test
  - make rhel-benchmarks
  - ./http_server_test &
  - ./properties_reader_test
  - ./cli_test name=test
  - ./http_test
  - ./logging_test
  - ./uuid_test
  - ./zmqio_test
  - ./redis_tests
  - ./mongo_test
  - cd scripts && sudo ./test_http_server.sh
  - cd ..
  - ./couchbase_test
  - ./consul_test
  - ./neo4j_test
