sudo: required
dist: trusty
language: cpp
matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-5
            - g++-5
            - cppcheck
      env:
        - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-6
            - g++-6
            - cppcheck
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
            - g++-7
            - cppcheck
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
before_install:
  - eval "${MATRIX_EVAL}"
  - mkdir ../aossl_deps
  - sudo cp scripts/deb/build_deps.sh ../aossl_deps
  - cd ../aossl_deps && sudo ./build_deps.sh > deps_log.txt
  - cd $TRAVIS_BUILD_DIR
  - wget https://releases.hashicorp.com/consul/0.6.4/consul_0.6.4_linux_amd64.zip
  - unzip consul_0.6.4_linux_amd64.zip
  - "./consul agent -dev -bind=127.0.0.1 &"
  - wget https://releases.hashicorp.com/vault/0.10.3/vault_0.10.3_linux_amd64.zip
  - unzip vault_0.10.3_linux_amd64.zip
  - "./vault server -dev &"
  - sleep 5
  - cd $TRAVIS_BUILD_DIR/scripts && ./vault_test_setup.sh
  - sleep 1
  - cd $TRAVIS_BUILD_DIR/scripts && ./profile_test_setup.sh
install:
  - cd $TRAVIS_BUILD_DIR && make CC=$CXX && make tests CC=$CXX && make benchmarks CC=$CXX && sudo make install
script:
  - cd $TRAVIS_BUILD_DIR/aossl/profile && ./profile_test
  - cd $TRAVIS_BUILD_DIR/aossl/properties && ./properties_reader_test
  - cd $TRAVIS_BUILD_DIR/aossl/commandline && ./cli_test name=test
  - cd $TRAVIS_BUILD_DIR/aossl/uuid && ./uuid_test
  - sleep 5
  - cd $TRAVIS_BUILD_DIR/aossl/vault && ./vault_test
  - cd $TRAVIS_BUILD_DIR/aossl/consul && ./consul_test
after_success:
  - cd $TRAVIS_BUILD_DIR/ && cppcheck --language=c++ --enable=warning aossl/core/include/buffers.h aossl/core/include/kv_store.h aossl/conclude/kv_store_interface.h aossl/core/buffer_test.cpp aossl/commandline/include/cli.h aossl/commandline/include/factory_cli.h
  - cd $TRAVIS_BUILD_DIR/ && cppcheck --language=c++ --enable=warning aossl/commandline/cli.cpp aossl/commandline/cli_test.cpp aossl/consul/include/consul_admin.h aossl/consul/include/consul_interface.h aossl/consul/include/factory_consul.h aossl/consul/include/service.h
  - cd $TRAVIS_BUILD_DIR/ && cppcheck --language=c++ --enable=warning aossl/consul/consul_admin.cpp aossl/consul/consul_benchmark.cpp aossl/consul/consul_test.cpp aossl/consul/service.cpp aossl/profile/include/app_profile.h
  - cd $TRAVIS_BUILD_DIR/ && cppcheck --language=c++ --enable=warning aossl/profile/include/safe_app_profile.h aossl/profile/include/tiered_app_profile.h aossl/profile/profile_test.cpp aossl/properties/include/factory_props.h aossl/properties/include/properties_reader.h aossl/properties/properties_reader_test.cpp
  - cd $TRAVIS_BUILD_DIR/ && cppcheck --language=c++ --enable=warning aossl/uuid/include/factory_uuid.h aossl/uuid/include/uuid_admin.h aossl/uuid/include/uuid_interface.h aossl/uuid/uuid_admin.cpp aossl/uuid/uuid_benchmark.cpp aossl/uuid/uuid_test.cpp
  - cd $TRAVIS_BUILD_DIR/ && cppcheck --language=c++ --enable=warning aossl/vault/include/vault_admin.h aossl/vault/include/factory_vault.h aossl/vault/vault_test.cpp
notifications:
  slack:
    secure: hnjVThmuokboFFs3gAoFEPGLCdageH2jeLq9yG9p1/6S0ZU+OsZm2PgQf85Ik8ZqU+ikIfPI+BZuG4ApQ7WU8pvhiWnyOJtX6gQU8y6nRZ2B8H0pfHbZDTEQ4roz9FdX0PrG4W6w00lCwU+Rg6/HF3kX0mziF1+V2rsdSDuY0vEL6FTxdn/eIm8ewhCBnuVnsASW49lfabdMSjD0ayURgnysJ4O4SYU3yRYF0Yj0izrMdmoPf6k6Y2htiyVYegRQ8c/4ohlRppI/J8NtpisqEcj3Ydnyudhr/Uui3wMtywy8XRxWPYkrXMFuUtQJwRfUz3eykBCFS9dnlhhtZPNRfHj6zpwR9ypOybcYtVRce0cp1DWfdaUxNM12yq2s2yJ2wBWDvIo+T/mIB3YH9YD072ncn23Yb+JIG8NAGk6QBz1eDFHXJfEf0voinWVMTlEvnLvCEq0ArJrwgNRxi2cJaztzJ8x20CctY9Bgy/biNFavZCyW1a7KN1TzURUjevQ4RTrqzhQms2fUBMYDNTS+HpfFdpbrY9dpYhf2lDH1FhLP2hAqIPpYGORXegAc8rdCtecyVRvYiY0AdnSQts/vjkMtmCKxwHD+vGmn3vDVNEAciUgUzPOR8cXs0pwyg0/XiJmedrMxTnMzjrmM26PpvJ9LqzqGNyNXehCSz5gEDm8=
