# Use new trusty images, should yield newer compilers and packages
sudo: required
dist: trusty
language: cpp

sudo: required
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
services:
  - redis-server
  - mongodb
  - docker
before_install:
  #Install g++ 5 to allow for c++11 support
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++
  #Run the build dependencies script
  - mkdir ../aossl_deps
  - sudo cp scripts/deb/build_deps.sh ../aossl_deps
  - cd ../aossl_deps && sudo ./build_deps.sh
  #Install ssl
  - cd $TRAVIS_BUILD_DIR
  - sudo apt-get install libssl-dev
install:
  #Install & Start Couchbase
  - cd scripts/deb/ubuntu-12.04 && sudo ./install_couchbase.sh
  - cd $TRAVIS_BUILD_DIR
  #Install & Start Consul
  - wget https://releases.hashicorp.com/consul/0.6.4/consul_0.6.4_linux_amd64.zip
  - unzip consul_0.6.4_linux_amd64.zip
  - ./consul agent -dev -bind=127.0.0.1 &
  #Start Neo4j
  - sudo docker pull neo4j
  - sudo docker run -d --publish=7474:7474 --publish=7687:7687 --env=NEO4J_AUTH=none --volume=$HOME/neo4j/data:/data neo4j
script:
  - gcc --version
  - make
  - make rhel-test
  - make rhel-benchmarks
  - ./http_server_test &
  - ./properties_reader_test
  - ./cli_test name=test
  - ./http_test
  - ./logging_test
  - ./uuid_test
  - ./zmqio_test
  - ./redis_tests
  - ./mongo_test
  - cd scripts && sudo ./test_http_server.sh
  - cd ..
  - ./couchbase_test
  - ./consul_test
  - ./neo4j_test
