# Use new trusty images, should yield newer compilers and packages
sudo: required
dist: precise
language: cpp

sudo: required
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
services:
  - docker
  - redis-server
before_install:
  - mkdir ../aossl_deps
  - sudo cp scripts/deb/build_deps.sh ../aossl_deps
  - cd ../aossl_deps && sudo ./build_deps.sh
  - cd $TRAVIS_BUILD_DIR
install:
  - docker run -d --name db -p 8091-8093:8091-8093 -p 11210:11210 couchbase
  - docker run -d --name=dev-consul consul
script:
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++
  - gcc --version
  - make
  - make rhel-test
  - make rhel-benchmarks
  - ./http_server_test &
  - ./factory_test
  - ./app_response_test
  - ./properties_reader_test
  - ./cli_test name=test
  - ./http_test
  - ./logging_test
  - ./uuid_test
  - ./zmqio_test
  - ./redis_tests
  - cd scripts && sudo ./test_http_server.sh
  - cd ..
  - ./couchbase_test
  - ./consul_test
